html, body
{
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

.span-all-cols
{
	/*
		column-span all doenst seem to work, so I have to manually 
		set the number of columns on each breakpoint
	*/
	//column-span: all;
	grid-column: 1 / 5;
	
	@include media-breakpoint-up(md)
	{
		grid-column: 1 / 6;
	}
	@include media-breakpoint-up(lg)
	{
		grid-column: 1 / 7;
	}

}

.navigate
{
	height: 3vh;
	text-align: center;
}


.limit-choice
{
	font-size: 85%;	
	color: $ceramicstextalt;
}

.limit-choice:hover
{
	color: $ceramicstextalt;
}

.active
{
	color: $ceramicstext;
	text-decoration: underline;
}

.view-mode
{
	text-decoration: underline;
	color: $ceramicstextalt;
	font-size: 85%;
}
.view-mode.active
{
	color: $ceramicstext;
}