html, body
{
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
}

#results::-webkit-scrollbar 
{
    width: .5em;
}
 
#results::-webkit-scrollbar-track 
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
#results::-webkit-scrollbar-thumb 
{
  background-color: $l_background;
  outline: 1px solid slategrey;
}


.navigate
{
	height: 3vh;
	text-align: center;
	span
	{
		margin-left: .5em;
		margin-right: .5em;

		.active
		{
			font-weight: bold;
			font-size: 14pt;
			background-color: lightyellow;
		}
	}
}


.limit-choice
{
	font-size: 85%;	
	color: $ceramicstextalt;
}

.limit-choice:hover
{
	color: $ceramicstextalt;
}

.active
{
	font-weight: bold;
	color: $ceramicstext;
	text-decoration: overline;
}

.view-mode
{
	text-decoration: underline;
	color: $ceramicstextalt;
	font-size: 85%;
}
.view-mode.active
{
	color: $ceramicstext;
}

.meta-data
{
	color: black;
	text-transform: capitalize;
}

.result-img
{
	display: block;
	margin: auto;
	width: 80%;
	height: 80%;
	object-fit: cover;
	padding:2px;
}

#header>p
{
	color: $l_background;
}

.active-res
{
	background-color: $l_light;
	border: 1px solid $l_background;
}
