// Global styling
body,
html {
  width: 100%;
  height: 100%;
}

.divider
{
  max-width: 7rem;
  border-radius:2px;
  background-color: $l_background;
  border-radius: 5px;
}

.logo-img
{
  width: 80%;
  @include media-breakpoint-up(sm)
  {
    width:initial;
  }
}


.accessText
{

  font-weight: bolder;
    color: $ceramicstext;
}

.ceramicsText
{
  font-weight: bolder;
  color: $ceramicstextalt;
}

html
{
  font-size: 12pt;
  @include media-breakpoint-up(md)
  {
    font-size: 14pt;
  }
  @include media-breakpoint-up(lg)
  {
    font-size: 16pt;
  }
  @include media-breakpoint-up(xl)
  {
    font-size: 16pt;
  }
}


.pressable
{
  cursor: pointer;
}