//for searchbar
#search
{
  height: calc(#{$navbar-height} * .5);

  button
  {
    max-width: 19%; //for very small widths
    height: 80%;
    font-size: 8pt; 
    display: inline-block;
  }

  input
  {
    height: 80%;
    max-width: 80%;
    width: auto !important;
  }

  @include media-breakpoint-up(sm)
    {
      height: calc(#{$navbar-height} * .65);
      button {font-size: 10pt; max-width: 100%;}
    }
  @include media-breakpoint-up(lg)
    {
      button {font-size: 12pt;}
    }
  @include media-breakpoint-up(xl)
    {
      height: calc(#{$navbar-height} * .8);
      button {font-size: 12pt;}
      input {max-width: 70%;}
    }
}

.btn-outline-theme
{
  border: 1px solid $l_background;
  color: $l_background;
}

#login 
{
  margin-left: 0 !important;
  padding-left: 0 !important;
  @include media-breakpoint-up(xl)
  {
    margin-left: auto;
    padding-left: 0 !important;
  }
}

.browse-dropdown
{
  margin-left: 0 !important;
  padding-left: 0 !important;
}
.browse
{
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.navbar-toggler
{
  visibility:visible;
  
  @include media-breakpoint-up(xl)
  {
    visibility:hidden;
  } 
}

#nbar-brand
{
  width: 60%;
  margin-right: 0;
  @include media-breakpoint-up(md)
  {
    width:initial;
  } 
}
