.bg-pic
{
	//background: linear-gradient(to bottom, #{fade-out($purple, 0)} 0%,#{fade-out($secondary,.7)} 100%), url('../img/collection.jpg');	
	background: $white;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}


.collection-tile
{
	background: linear-gradient(to top, #{fade-out($collection, 0)} 0%, #{fade-out($collection, .1)} 25%, #{fade-out($darkgrey,.7)} 100%), url('../img/acpics/45167486162.jpg');	
}

.search-tile
{
	//linear-gradient(to top, #{fade-out($search, 0)} 0%, #{fade-out($search, .1)} 25%, #{fade-out($darkgrey,.7)} 100%),
	background:  url('../img/acpics/Luciana-Grazia-Menegazzi.jpg');
}

.artist-tile
{
	background: linear-gradient(to top, #{fade-out($artist, 0)} 0%, #{fade-out($artist, .1)} 25%, #{fade-out($darkgrey,.7)} 100%), url('../img/acpics/23578883568.jpg');
	
}
.glazing-tile
{
	background: linear-gradient(to top, #{fade-out($glazing, 0)} 0%, #{fade-out($glazing, .1)} 25%, #{fade-out($darkgrey,.7)} 100%), url('../img/acpics/Luciana-Grazia-Menegazzi.Alice-in-Wonderland.jpg');
	
}
.material-tile
{
	background: linear-gradient(to top, #{fade-out($material, 0)} 0%, #{fade-out($material, .1)} 25%, #{fade-out($darkgrey,.7)} 100%), url('../img/acpics/45217378221.jpg');
	
}
.object-tile
{
	background: linear-gradient(to top, #{fade-out($object, 0)} 0%, #{fade-out($object, .1)} 25%, #{fade-out($darkgrey,.7)} 100%), url('../img/acpics/Hirotake-Imanishi.shell.jpg');
	
}
.technique-tile
{
	background: linear-gradient(to top, #{fade-out($technique, 0)} 0%, #{fade-out($technique, .1)} 25%, #{fade-out($darkgrey,.7)} 100%), url('../img/acpics/Lauren-Sandler.jpg');
	
}
.temperature-tile
{
	background: linear-gradient(to top, #{fade-out($temperature, 0)} 0%, #{fade-out($temperature, .1)} 25%, #{fade-out($darkgrey,.7)} 100%), url('../img/acpics/32389990910.jpg');
	
}

html, body
{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}


#content
{
	height: $body-height;
	width: 90vw;
	padding: 0;
	max-width: none;
}

.selection-button
{
	display: block;
	width: 100%;
}


.tile
{
	background-position: center;
  	background-repeat: no-repeat;
  	background-attachment: scroll;
  	position:absolute;
  	background-size: cover;
  	//object-fit: contain;
  	//default is 8 rows of 1
  	height: 100%;
  	//min-height: 10rem;
  	margin: 0;
  	div.titlediv
  	{
  		position: absolute;
  		bottom: 0;
  		text-align: center;
  		width: 100%;
  		
  	}
  	h2
	{
		font-size:1rem;
		color: $ceramicstextalt !important;
		font-weight: bolder;
	}
	img
	{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/* .flip-container:hover .back{
	opacity: 1;
}
.flip-container:hover .front{
	opacity: 0;
} */

.flipper {
	height: 100%;
	position: relative;
}


.front, .back {
	position: absolute;
	top:0;
	left:0;
}
.front
{
	-webkit-transition: opacity 2s ease-in-out;
  	-moz-transition: opacity 2s ease-in-out;
  	-o-transition: opacity 2s ease-in-out;
  	transition: opacity 2s ease-in-out;
}

.back{
	text-align: center;
	opacity: 0;
	background-color: $browse-cardbacks;
	-webkit-transition: opacity 1s ease-in-out;
  	-moz-transition: opacity 1s ease-in-out;
  	-o-transition: opacity 1s ease-in-out;
  	transition: opacity 1s ease-in-out;
}
