body
{
	background: linear-gradient(to bottom, #{fade-out($secondary, .7)} 0%,#{fade-out($secondary,0)} 100%), url('../img/collection.jpg');	
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.info-tile
{
	background: linear-gradient(to bottom, #{fade-out($artist, 0)} 0%,#{fade-out($darkgrey,.7)} 100%), url('../img/bg-masthead.jpg');
}

.artist-tile
{
	background: linear-gradient(to bottom, #{fade-out($artist, 0)} 0%,#{fade-out($darkgrey,.7)} 100%), url('../img/bg-masthead.jpg');
	
}
.glazing-tile
{
	background: linear-gradient(to bottom, #{fade-out($glazing, 0)} 0%,#{fade-out($darkgrey,.7)} 100%), url('../img/bg-masthead.jpg');
	
}
.material-tile
{
	background: linear-gradient(to bottom, #{fade-out($material, 0)} 0%,#{fade-out($darkgrey,.7)} 100%), url('../img/bg-masthead.jpg');
	
}
.object-tile
{
	background: linear-gradient(to bottom, #{fade-out($object, 0)} 0%,#{fade-out($darkgrey,.7)} 100%), url('../img/bg-masthead.jpg');
	
}
.technique-tile
{
	background: linear-gradient(to bottom, #{fade-out($technique, 0)} 0%,#{fade-out($darkgrey,.7)} 100%), url('../img/bg-masthead.jpg');
	
}
.temperature-tile
{
	background: linear-gradient(to bottom, #{fade-out($temperature, 0)} 0%,#{fade-out($darkgrey,.7)} 100%), url('../img/bg-masthead.jpg');
	
}

#mosaic
{
	margin-top: 5rem;
	height: calc(100vh - #{$navbar-height});
	width: 100%;
	padding: 0;
}
.tile
{
	background-position: center;
  	background-repeat: no-repeat;
  	background-attachment: scroll;
  	position:absolute;
  	background-size: cover;
  	//default is 8 rows of 1
  	height: 100%;
  	//min-height: 10rem;
  	margin: 0;

/* 
  	@include media-breakpoint-up(md){//four rows of two
  		height: calc(100% / 4);	

  	} 
  	@include media-breakpoint-up(lg) {//two rows of 4
  		height: calc(100% / 2);
  		//min-height: 10rem;
  	} */
  	
  	div.titlediv
  	{
  		position: absolute;
  		bottom: 0;
  		text-align: center;
  		width: 100%;
  	}
  	h2
	{
		font-size:2rem;
	}
}

.flip-container
{
	perspective: 1000px;
}
.flip-container:hover .flipper, .flip-container.hover .flipper{
	transform: rotateY(180deg);
}

.flipper {
	height: 100%;
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}


.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top:0;
	left:0;
}

.front{
	z-index: 2;
	transform: rotateY(0deg);
}

.back{
	transform: rotateY(180deg);
	background-color: $browse-cardbacks;
}
