// Variables

// Color overrides

// Set a custom color
//$orange: #f4623a !default;
//$brown: #5c4d42 !default;
$browse-cardbacks : rgba(25,0,40,.5);

$lightpurple: #6400a0;
$purple: #190028;
$dark-purple: $purple;
$darkgrey: #666666;

$dark : $dark-purple !default;

$search:#ababff;
$collection:#6b6bb1;
$artist:#6666b1;
$glazing:#8c66b1;
$material:#66b1b1;
$object:#63397c;
$technique:#7c3973;
$temperature:#42397c;


$ceramicstext: #7f4c38;
$ceramicstextalt: #96935f;

$ceramicsblue: #6666B1;
$ceramicspurple: #63397c;

// Set primary color in next abstraction level
/* $primary: $ceramicsblue;
$secondary: $ceramicspurple; */
//$dark: $darkgrey;

// Font overrides
$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif !default;

// Custom variables
$navbar-height: 72px;
