$lightpurple: #6400a0;
$purple: #190028;
$dark-purple: $purple;
$darkgrey: #666666;

$dark : $dark-purple !default;

/*was used for browse tiles*/
$search:#ababff;
$collection:#6b6bb1;
$artist:#6666b1;
$glazing:#8c66b1;
$material:#66b1b1;
$object:#63397c;
$technique:#7c3973;
$temperature:#42397c;

/* Legacy Colors */
$l_light:#F4F8E7;
$l_background:#7A6451;
$l_accesstext:#7f4c38;
$l_ceramicstext:#96935f;


/* $ceramicstext: #7f4c38;
$ceramicstextalt: #96935f; */

$ceramicstext: #000000;//#6666B1;
$ceramicstextalt: $dark-purple; //R: 99 G: 57 B: 124
//analogous blue: R: 66 G: 57 B: 124;
//analogous maroonish:R: 124 G: 57 B: 115;


$primary: $l_accesstext !default;//rgb(66,57,124);
$secondary: $l_ceramicstext !default;//#63397c;
$light: rgba(124,57,115,.4);
$light-secondary: rgba(21,21,130,.4);

.bg-primary
{
	background-color: $primary !important;
}


// Set primary color in next abstraction level
/* $primary: $ceramicsblue;
$secondary: $ceramicspurple; */
//$dark: $darkgrey;

// Font overrides
$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif !default;

// Custom variables
$navbar-height: 72px;
$body-height: 91vh;
