/*Stylesheet for browse.php*/

@import "./variables.scss";

/*Bootstrap style*/
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* Global imports */
@import "./global.scss";
@import "./navbar.scss";

#content
{
	height: $body-height;
	width: 90vw;
	padding: 0;
	max-width: none;
}

.search-tile
{
	content: url('../img/acpics/Luciana-Grazia-Menegazzi.jpg');
}


.tile
{
  	position:absolute;
  	height: 100%;
  	margin: 0;
  	div.titlediv
  	{
  		position: absolute;
  		bottom: 0;
  		text-align: center;
  		width: 100%;
  		h2
  		{
  			font-size:1rem;
				color: $black !important;
				font-weight: bolder;
				display: inline-block;
				background-color: rgba(255,255,255,.5);
  		}
  	}
	img
	{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
