/* Stylesheet for outer, catigorical browsing for view.php */


@import "./variables.scss";
/*Bootstrap style*/
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/*Global Imports*/
@import "./global.scss";
@import "./navbar.scss";




@import "./browse_shared.scss";

.span-all-cols
{
	grid-column: 1 / 5;
	
	@include media-breakpoint-up(md)
	{
		grid-column: 1 / 6;
	}
	@include media-breakpoint-up(lg)
	{
		grid-column: 1 / 7;
	}

}

body
{
	overflow-y: auto;
	background-color: $l_background;
}

#header
{
	font-size: 8pt;
	margin-bottom: 0;
	#search-title
	{
		font-size: 12pt;
	}

	@include media-breakpoint-up(md)
	{
		height: 13vh;
		font-size: 10pt;
		#search-title
		{
			font-size: 14pt;
		}
	}
	@include media-breakpoint-up(lg)
	{
		font-size: 12pt;
		#search-title
		{
			font-size: 16pt;
		}
	}
	
}
#content
{
	padding-top: 5vh;
	padding-right: 4vw;
	padding-left: 4vw;
	padding-bottom:none;
	height: $body-height;
}

#results
{
	background: $white;
	width: 100%;
	padding-bottom: 1em;
	display: inline-grid;

	grid-template-columns: auto auto auto auto;
	grid-auto-rows: min-content;
	grid-row-gap: 1.5em;

	overflow-x: hidden;
	overflow-y: hidden;


	@include media-breakpoint-up(md)
	{
		grid-template-columns: auto auto auto auto auto;
		grid-row-gap: 1.5em;

	}
	@include media-breakpoint-up(lg)
	{
		grid-template-columns: auto auto auto auto auto auto;
		grid-row-gap: 1em;
	}
}
/* 
overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
#results::-webkit-scrollbar { width: 0 !important } */

.result
{
	margin: auto;
	width: 20vw;
	height: 20vw;
	text-align: center;
	@include media-breakpoint-up(md)
	{
		width: 15vw;
		height: 15vw;
	}
}

/* .result-img
{
	margin: auto;
	width: 80%;
	height: 80%;
} */

.result-title
{
	color: $ceramicstext;
	margin: 0;
	padding: 0 2px 0 2px;
	font-size: 65%;
	text-overflow: wrap;
	@include media-breakpoint-up(md)
	{
		padding: 0 3vw 0 3vw;
	}
}
.result:hover
{
	text-decoration: none;
}


#view
{
	position: fixed;
	bottom: -5px;
	height: 0%;	
	visibility: hidden;
}