/* ---Stylesheet for Browse Classic--- */


@import "../node_modules/bootstrap/scss/bootstrap.scss";

/*Global Imports*/
@import "../navbar.scss"
@import "../variables.scss"
@import "../global.scss"

#news-container
{
	overflow-y: scroll;
}

#news span
{
	background-color: $light;
	font-size: 1rem;	
}

#masthead
{
	
	background: linear-gradient(to bottom, #{fade-out($secondary, .2)} 0%,#{fade-out($primary,.9)} 100%), url(../img/acpics/Lauren-Sandler.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	
	height: 45vh;

	@include media-breakpoint-up(sm)
	{
		background: linear-gradient(to bottom, #{fade-out($secondary, .2)} 0%,#{fade-out($primary,.9)} 100%), url(../img/collection.jpg);	
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size: cover;
		height: 60vh;
	}
  	
}

$bot-height: 20vh;
$card-height: calc((100vh - #{$bot-height}) / 3);

#info
{
	//height: 35vh;	
	overflow-y: hidden;
	height: 1%;	
	border-bottom: 2px solid black;
	@include media-breakpoint-up(sm)
	{
		height: calc(40vh - 72px);	
	}
}

.bg-browse
{
	background: linear-gradient(to right,  black 0%, grey 50%, black 100%);
	background-position: center;
  	background-repeat: no-repeat;
  	overflow-y: hidden;
}
#bg-picture
{
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: contain;
	background-image: url(../img/Velvet-Torque.jpg);
	z-index: -1;
	position: fixed;
	top: 10vh;
	left: 0;
	min-width: 100vw;
	min-height: 90vh;
}
.selection-card
{
	height: $card-height;
	width: 100%;
	div
	{
		color: $ceramicstextalt;
		font-weight: bolder;
	}

}
.selection-card.right
{
	img
	{
		margin-left: 1rem;
	}

}

.selection-card.left
{
	img
	{
		margin-right: 1rem;
	}
}


.img-selection
{
	max-height:$card-height;
	max-width:50%;
}