/* Stlyesheet for the 'comfortable' view of view.php */
@import "./variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";


//style for the image portion of each result (also in _browse_shared)
.result-img
{
	width: calc(.9 * 8vw);
	height: 90%;
	@include media-breakpoint-up(lg)
	{
		width: calc(.9 * 5vw);
	}
	float:left;
}

//style for the results section which holds all .result elements
#results
{
	background: $white;
	width: 100%;
	display: inline-grid;
	grid-auto-rows: min-content;

	overflow-x: hidden;
}

//style for the actual result elements
.result
{
	display: grid;
	grid-template-columns: 9% auto;
	align-items: center;
	text-align: center;
	height:8vw;

	@include media-breakpoint-up(lg)
	{
		height:5vw;
	}

	grid-column: 1 / 6;
	margin: 0;
	padding: 0;

}

//the text portion of each result
.result-title
{
	text-align: center;
	font-size: 10pt;
	@include media-breakpoint-up(sm)
	{
		font-size: 12pt;
	}
	@include media-breakpoint-up(md)
	{
		font-size: 14pt;
	}
	@include media-breakpoint-up(lg)
	{
		font-size: 18pt;
	}
	margin: 0;
	padding: 0;
}

//the 'selected' result
.active-res
{
	border: 2px solid black;
}


.result:nth-child(odd)
{
	background: $l_light;

}
.active-res
{
	background-color: white;
}
