/* Stlyesheet for the 'comfortable' view of view.php */


@import "./variables.scss";
/*Bootstrap style*/
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/*Global Imports*/
@import "./global.scss";
@import "./navbar.scss";

@import "./browse_shared.scss";


#header-statement
{
	h1
	{
		margin-top: 1em;
	}
}


.span-all-cols
{
	grid-column: 1 / 6;

	@include media-breakpoint-up(md)
	{
		grid-column: 1 / 6;
	}
	@include media-breakpoint-up(lg)
	{
		grid-column: 1 / 6;
	}

}

body
{
	overflow-y: hidden;
	background-color: $l_background;
}


#content
{
	padding: 0;
	grid-row-gap: 0;
	grid-column-gap: 0;
	display: grid;
	grid-template-rows: calc(50vh - ( #{$navbar-height} / 2 ) ) calc(50vh - ( #{$navbar-height} / 2 ) );

	overflow-y: auto;

	@include media-breakpoint-up(lg)
	{
		grid-template-rows: calc(100vh - #{$navbar-height});
		grid-template-columns: 50vw 50vw;
	}

}

.result-img
{
	width: calc(.9 * 8vw);
	height: 90%;
	@include media-breakpoint-up(lg)
	{
		width: calc(.9 * 5vw);
	}
	float:left;
}

#result-body
{
	overflow-y: auto;
	background: $white;
	display: inline-grid;
	grid-auto-rows: min-content;
}

#results
{
	background: $white;
	width: 100%;
	display: inline-grid;
	grid-auto-rows: min-content;

	overflow-x: hidden;
}

.result
{
	display: grid;
	grid-template-columns: 9% auto;
	align-items: center;
	text-align: center;
	height:8vw;

	@include media-breakpoint-up(lg)
	{
		height:5vw;
	}


	grid-column: 1 / 6;

	@include media-breakpoint-up(md)
	{
		grid-column: 1 / 6;
	}
	@include media-breakpoint-up(lg)
	{
		grid-column: 1 / 6;
	}
	margin: 0;
	padding: 0;

}

.active-res
{
	border: 2px solid black;
}

.result-title
{
	text-align: center;
	font-size: 10pt;
	@include media-breakpoint-up(sm)
	{
		font-size: 12pt;
	}
	@include media-breakpoint-up(md)
	{
		font-size: 14pt;
	}
	@include media-breakpoint-up(lg)
	{
		font-size: 18pt;
	}
	margin: 0;
	padding: 0;
}

.result:nth-child(odd)
{
	background: $l_light;

}
.active-res
{
	background-color: white;
}



#view
{
	overflow-y: auto;
	height: 100%;
	background-color: $white;
	text-align: center;
}

#view-img
{
	object-fit: contain;
	max-height: 70%;
	max-width:95%;
	margin-right: auto;
	margin-left: 0;
}

#view-meta p
{
	font-weight: bold;
	color: $ceramicstextalt;
}
#meta-other
{
	text-align: left;
	font-size: 13pt;
	color: $l_background;
	display: grid;
	grid-template-columns: auto auto;
}
