/* Stylesheet for outer, catigorical browsing for view.php */
@import "./variables.scss";
/*Bootstrap style*/
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/*Global Imports*/
@import "./global.scss";
@import "./navbar.scss";

@import "./browse_shared.scss";

/* --Main content div--
	contains result-body and view
*/
#content
{
	height: $body-height;
	display: block !important;
	grid-template-rows: none !important;
}

//holds meta-data for images (hidden in category)
#view
{
	position: fixed;
	top: $navbar-height;
	width: 100%;
	background-color: rgba(10,10,10,.9) !important;
	padding-left: 0;
	// border-right: 1em solid rgba(10,10,10,.7);
	// border-left: 1em solid rgba(10,10,10,.7);
}

#view-img
{}
#view-meta
{
	background-color: rgba(0,0,0,.9);
	padding-left: 1em;
}
//Artist-name, title, series title, date
#view-meta p
{
	color: $white !important;
}

//other meta-data
#meta-other
{
	color: $white !important;
}

#view-x
{
	pointer-events: all;
	visibility: visible;
}

#view-arrow
{
	pointer-events: none;
	visibility: visible;
}

.meta-data
{
		color: $white !important;
}

//style for the results section which holds all .result elements
#results
{
	background: $white;
	width: 100%;
	padding-bottom: 1em;
	display: inline-grid;

	grid-template-columns: auto auto auto auto;
	grid-auto-rows: min-content;
	grid-row-gap: 1.5em;

	overflow-x: hidden;
	overflow-y: hidden;


	@include media-breakpoint-up(md)
	{
		grid-template-columns: auto auto auto auto auto;
		grid-row-gap: 1.5em;

	}
	@include media-breakpoint-up(lg)
	{
		grid-template-columns: auto auto auto auto auto auto;
		grid-row-gap: 1em;
	}
}

.result
{
	margin: auto;
	width: 20vw;
	height: 20vw;
	text-align: center;
	@include media-breakpoint-up(md)
	{
		width: 15vw;
		height: 15vw;
	}
}
.result-title
{
	text-transform: capitalize;
	color: $ceramicstext;
	margin: 0;
	padding: 0 2px 0 2px;
	font-size: 65%;
	text-overflow: wrap;
	@include media-breakpoint-up(md)
	{
		padding: 0 3vw 0 3vw;
	}
}
.result:hover
{
	text-decoration: none;
}
