/*Stylesheet for mosaic.php*/

/* Global imports */
@import "./variables.scss";
@import "./global.scss";
@import "./navbar.scss";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

html, body
{
	height: 100%;
}

body
{
	background: linear-gradient(to bottom, #{fade-out($dark-purple, 0)} 0%, #{fade-out($dark-purple, .75)} 100%);
}
#content
{
	height:100vh;
	width: 100vh;
	display: grid;
	margin: auto;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	grid-template-columns: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
	grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh;
}

#main
{
	
	grid-area: 4 /  4  / 8 / 8;
	background:floralwhite;
	// linear-gradient(to top, #{fade-out($dark-purple, 0)} 0%, #{fade-out($dark-purple, .75)} 100%);
	color: black;
	text-align: center;
	p
	{
		
		font-size: 14pt;
	}
}	

#main-text
{
	max-width: 15rem;
	font-size: 14pt;
	@include media-breakpoint-up(md)
	{
		max-width:30rem;
		font-size: 22pt;
	}
}

.borderimg
{	
	object-fit: cover;
	height: 10vh;
	width: 10vh;
}
.border-container
{
	overflow: hidden;
}

.flip-container
{
	perspective: 1000px;
}

.flipper
{
	height: 100%;
}

.bt-front, .bt-back
{
	backface-visibility: hidden;
	position: absolute;
	top:0;
	left:0;
}

.bt-front
{
	z-index: 2;
	transform: rotateY(0deg);
}

.bt-back
{
	transform: rotateY(180deg);
}

.bordertile
{
	margin:0;
	object-fit: cover;
	width:auto;

	height: 10vh;
	width: 10vh;
}

.logo-img
{
	width:80%;
	@include media-breakpoint-up(md)
	{
		width:initial;
	}

}

