/* Stlyesheet for the 'pane' view of view.php */


@import "./variables.scss";
/*Bootstrap style*/
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/*Global Imports*/
@import "./global.scss";
@import "./navbar.scss";

@import "./browse_shared.scss";


.span-all-cols
{
	grid-column: 1 / 6;
	
	@include media-breakpoint-up(md)
	{
		grid-column: 1 / 6;
	}
	@include media-breakpoint-up(lg)
	{
		grid-column: 1 / 6;
	}

}

body
{
	overflow-y: hidden;
	background-color: $l_background;
}


#content
{
	padding: 0;
	grid-row-gap: 0;
	grid-column-gap: 0;
	display: grid;
	grid-template-rows: calc(50vh - #{$navbar-height}) calc(50vh - #{$navbar-height});

	overflow-y: auto;

	@include media-breakpoint-up(lg)
	{
		grid-template-rows: calc(100vh - #{$navbar-height});
		grid-template-columns: 50vw 50vw;
	}

}

#results
{
	background: $white;
	
	display: inline-grid;
	grid-template-columns: auto auto auto auto auto;
	grid-row-gap: 5px;
	grid-auto-rows: min-content;

	overflow-x: hidden;
}

.result
{
	width:20vw;
	height:20vw;

	@include media-breakpoint-up(lg)
	{
		width:10vw;
		height:10vw;
	}
}

.result-title
{
	text-align: center;
	font-size: 0;
	@include media-breakpoint-up(lg)
	{
		font-size: 0;
	}
}

#view
{
	overflow-y: auto;
	height: 100%;	
	background-color: $white;
	text-align: center;
}

#view-img
{
	object-fit: contain;
	max-height: 70%;
	max-width:95%;
	margin-right: auto;
	margin-left: 0;
}
#view-meta p
{
	font-weight: bold;
	color: $ceramicstextalt;
}
#meta-other
{
	display: grid;
	grid-template-columns: auto auto;
}