@import "./variables.scss";


$primary: $ceramicstext !default;
$secondary: $ceramicstextalt !default;

@import "../node_modules/bootstrap/scss/bootstrap.scss";



//new theme
//$primary: $ceramicspurple; 
//$secondary: $ceramicsblue; 


.accessText
{
    color: $primary;
}

.ceramicsText
{
	color: $secondary;
}

// Import Bootstrap


// Import custom styles
@import "./global.scss";
@import "./navbar.scss";
@import "./portfolio.scss";


html, body
{
	margin: 0;
	height: 100vh;
	width: 100vw;
}
#content
{
	padding: 0;
	grid-row-gap: 0;
	grid-column-gap: 0;
	display: grid;
	grid-template-rows: 50vh 50vh;

	@include media-breakpoint-up(xl)
	{
		grid-template-rows: 100vh;
		grid-template-columns: 50vw 50vw;
	}

}

#results
{
	background: $light;
	
	display: inline-grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-row-gap: .5rem;

	overflow-y: auto;
	overflow-x: hidden;
	
}

.result
{

}

.result-img
{
	object-fit: contain;
	margin: auto;
}

.result-title
{
	text-align: center;
	text-align: justify;
	font-size: 12pt;
	@include media-breakpoint-up(lg)
	{
		font-size: 14pt;
	}
}

#view
{
	background: linear-gradient(to right, $secondary 0% , darkgrey 40%, white 50%, darkgrey 60%,  $secondary 100% );	
	/* min-height: 50vh;
	min-width: 100vh;

	@include media-breakpoint-up(lg)
	{
		min-height: 100vh;
		min-width: 50vh;
	} */
}

#view-img
{

}




.paneview
{

	@include media-breakpoint-up(sm) {
		height: calc( 50vh - ( #{$navbar-height} / 2 ) );
	}
	@include media-breakpoint-up(lg) {
		//height: calc(100vh - #{$navbar-height} );
		height: 100%;
	}

}

#panedisplay
{
	position:absolute;
	width:95%;
	height: auto;
	object-fit: contain;
}

.panepic
{
	display: flex;
	display:inline-block;
	height: auto;
	max-height: 70%;
	width: auto;
	object-fit: contain;
}
.paneobj
{	
	display:inline-block;
	margin-left: .5rem;
	margin-top: 1rem;
	border-radius: 5px;
	text-align: center;
	height: calc( ( 50vh - #{$navbar-height} ) / 5 );


	@include media-breakpoint-up(lg) {
		height: calc( ( 100vh - #{$navbar-height} ) / 5 );
	}
	p.mdata
	{
		text-align:center;
		font-size: 8pt;
		color: white;
		@include media-breakpoint-up(lg) {
			font-size: 12pt;
		}	
	}
}