//css for artist, category, view
@import "./variables.scss";
/*Bootstrap style*/
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/*Global Imports*/
@import "./global.scss";
@import "./navbar.scss";

@import "./browse_shared.scss";

#header-statement > h1
{
		margin-top: 1em;
}

body
{
	overflow-y: auto; //hidden
	background-color: $l_background !important;
}

#content
{
	padding: 0;
	grid-row-gap: 0;
	grid-column-gap: 0;
	display: grid;
	grid-template-rows: calc(50vh - ( #{$navbar-height} / 2 ) ) calc(50vh - ( #{$navbar-height} / 2 ) );

	overflow-y: auto;

	@include media-breakpoint-up(lg)
	{
		grid-template-rows: calc(100vh - #{$navbar-height});
		grid-template-columns: 50vw 50vw;
	}
}

//div holding results, header, and navigators
#result-body
{
	width: 100%;
	background: $white;
	display: inline-grid;
	overflow-y: auto;
	grid-auto-rows: min-content;
}

//holds meta-data for images
#view
{
	overflow-y: auto;
	height: 100%;
	background-color: $white;
	text-align: center;
	padding-left: 1em;
	@include media-breakpoint-up(md)
	{
		border-left: 3px solid $l_background;
	}
}

#view-img
{
	object-fit: contain;
	max-height: 70%;
	max-width:95%;
	margin-right: auto;
	margin-left: 0;
}

#view-meta p
{
	font-weight: bold;
	color: $ceramicstextalt;
}

#meta-other
{
	text-align: left;
	font-size: 13pt;
	color: $l_background;
	display: grid;
	grid-template-columns: auto auto;
}

#view-x
{
	pointer-events: none;
	visibility: hidden;
	position: absolute;
	top: 5px;
	left: 5px;
}

#view-arrow
{
	pointer-events: none;
	visibility: hidden;
	position: absolute;
	left: 5px;
}

#view-arrow.right
{
	position: absolute;
	top: 50%;
	right: 1em;
}
#view-arrow.left
{
	position: absolute;
	top: 50%;
	left: 1em;
}

.meta-data
{
	color: black;
	text-transform: capitalize;
}
