Options +FollowSymLinks
RewriteEngine on

#browse, collection, artists, glazings, materials, objects, techniques, temperatures, search


# Add default page number (1) if not specified
RewriteRule ^category/(\w+)/$ /category/$1/1/ [R]

# Convert category/category_name/page_num/id -> /category_name/id/
# this is used so going to a specific category is as simple as
# appending an id to the end of the url
RewriteRule ^category/(\w+)/(\d+)/(\d+)/$ /$1/$3/ [R]

# add trailing slash
RewriteRule ^(\w+)$ /$1/ [R]
RewriteRule ^category/(\w+)/(\d+)/(\d+)$ /category/$1/$2/$3/ [R]
RewriteRule ^collection/(\d+)$ /collection/$1/ [R]

# special case for info pages
RewriteRule ^info/(\w+)/$ info\.php\?state=$1

# special cases for 'collection' state
RewriteRule ^collection/$ browse.php?state=view
RewriteRule ^collection/(\d+)/$ browse.php?state=view&page=$1

# Pass page number through GET
RewriteRule ^category/(\w+)/(\d+)/$ browse\.php\?state=category\&category=$1\&page=$2

RewriteCond $1 =artists
RewriteRule ^(\w+)/(\d+)/(\d+)/ browse\.php\?state=artist\&category=$1&artist_id=$2&page=$3
# else
RewriteRule ^(\w+)/(\d+)/(\d+)/ browse\.php\?state=view\&category=$1&id=$2&page=$3

# 'artists' state requires special treatment
RewriteCond $1 =artists
RewriteRule ^(\w+)/(\d+)/$ browse\.php\?state=artist\&category=$1&artist_id=$2
# else
RewriteRule ^(\w+)/(\d+)/$ browse\.php\?state=view\&category=$1&id=$2
