Options +FollowSymLinks
RewriteEngine on

#browse, collection, artists, glazings, materials, objects, techniques, temperatures, search

#add trailing slash
RewriteRule ^browse$ /browse/ [R]
RewriteRule ^collection$ /collection/ [R]
RewriteRule ^artists$ /artists/ [R]
RewriteRule ^glazings$ /glazings/ [R]
RewriteRule ^materials$ /materials/ [R]
RewriteRule ^objects$ /objects/ [R]
RewriteRule ^techniques$ /techniques/ [R]
RewriteRule ^temperatures$ /temperatures/ [R]
RewriteRule ^search$ /search/ [R]
RewriteRule ^info$ /info/ [R]
RewriteRule ^info/$ /info/about/ [R]

RewriteRule ^(\w+)/(\w+)$ /$1/$2/ [R]
RewriteRule ^(\w+)/(\d+)$ /$1/$2/ [R]

RewriteCond $1 =artists
RewriteRule ^(\w+)/(\d+)/$ browse\.php\?state=artist\&category=$1&artist_id=$2

RewriteRule ^(\w+)/(\d+)/$ browse\.php\?state=view\&category=$1&id=$2


#Redirect (internally) to the proper page
RewriteRule ^browse/$ browse\.php\?state=main
RewriteRule ^collection/$ browse\.php\?state=view
RewriteRule ^artists/$ browse\.php\?state=category&category=artists
RewriteRule ^glazings/$ browse\.php\?state=category&category=glazings
RewriteRule ^materials/$ browse\.php\?state=category&category=materials
RewriteRule ^objects/$ browse\.php\?state=category&category=objects
RewriteRule ^techniques/$ browse\.php\?state=category&category=techniques
RewriteRule ^temperatures/$ browse\.php\?state=category&category=temperatures
RewriteRule ^search/$ browse\.php\?state=category&category=search
RewriteRule ^info/(\w+)/$ info\.php\?state=$1
